@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 1.5vw;
    background-color: rgb(50, 211, 50);
    font-size: 1.5vw;
}

#caixa{
    display: flex;
    align-items:center;
    justify-content: flex-end;
}

#caixa input{
    height: 2.8vw;
    width: 14.3vw;
    background-color: transparent;
    border-radius: 2vw;
    border: 0.2vw black solid;
    padding-left: 1vw;
    font-size: 1.2vw;
}

#lupa{
    width: 2vw;
    padding-right: 0.5vw;
}


/*----------------------------------------------------------*/

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 1.8vw;
    column-gap: 1.8%;
    margin: 1.8%;
    flex-grow: 1;
}

#medias{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: darkgray 1px solid;
}

#medias img{
    width: 100%;
}

button{
    border-color: white;
}
button:hover{
    cursor:pointer;
    border: rgb(121, 255, 121) solid 3px;
    
}

#medias h2{
    font-size: 1.6vw;
}
/*----------------------------------------------------------*/
#rodape{
    padding: 1%;
    background-color: rgb(63, 61, 61);
    font-size: 1.4vw;
}

/*----------------------------------------------------------*/

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
    
    #cabecalho{
        padding: 10px;
        font-size: 8px;
    }

    #caixa input{
        height: 5vw;
        width: 30vw;
        border-radius: 10vw;
        border: 0.2vw black solid;
        padding-left: 3vw;
        font-size: 8px;
    }
    
    #lupa{
        width: 3vw;
        padding-right: 1vw;
        border-top: 1vw solid rgb(50, 211, 50) ;
    }

    main{
        grid-template-columns: 1fr;
        margin-left: 0%;
        margin-right: 0%;
    }

    #medias{
        border: none;
    }


    #rodape{
        text-align: center;
    }
}
